// Import third party ui library css
@import '~antd/dist/antd.css';

//.ant-layout-header {
//    background: #F5F5F5;
//}

.ant-row-flex {
    flex-grow: 1;
}

.ant-menu-inline > .ant-menu-item {
    line-height: 45px;
    height: 45px;
}

.ant-menu-inline-collapsed > .ant-menu-item .anticon {
    font-size: 18px;
    line-height: 45px;
}

.ant-form-item-control {
    line-height: 1.5;
}

.ant-divider-horizontal.ant-divider-with-text-left {
    &:before, &:after {
        border-top: 1px solid #cecece;
    }
}

.ant-popover-inner {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
}

.ant-form legend {
    margin: 10px 0 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cecece;
    color: #1890ff;
}

.ant-menu-inline-collapsed {
    width: 64px
}

.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 !important;
    text-align: center;
}

.scale-to-parent {
    width: 100%;
}

.img-rounded {
    border-radius: 4px;
}

h1 {
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    max-width: 100%;
}

ul {
    &.list-style-reset {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

dl {
    &.detail-list--inline {
        dt, dd {
            display: inline-block;
        }

        dt {
            margin-right: 5px;
            font-weight: 700;
        }
    }

    &.detail-list--small {
        dt, dd {
            font-size: 13px;
        }
    }
}

// Layout Styles
#root, #app {
    height: 100%;
    width: 100%;
}

.l-header {
    .logo {
        width: 120px;
    }
}

.column--padded {
    .ant-layout & {
        padding: 24px;
    }
}

.content-region {
    display: flex;
    flex: auto;
}
